@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso negado";
}

<br><br>
<div class="text-center">
    <div class="text-danger">
        <header>
            <h1 class="display-2">@ViewData["Title"]</h1>
            <h5 class="text-danger">Você não tem permissão ou acesso a esse recurso.</h5>
            <br>
            <h1 class="display-1">🤖🚫</h1>
        </header>
    </div>
</div>